.cam-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
  max-width: 1500px;
  margin: 3rem auto;
  padding: 1rem;
}

.cam-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #365396;
  border-radius: 8px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cam-right {
  border: 1px solid #365396;
  border-radius: 8px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cam-preview-box {
  width: 100%;
  /* atau tentukan misalnya 600px */
  height: 800px;
  margin: 0 auto;
  border: 2px solid #365396;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cam-preview-box video {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
}

.cam-placeholder {
  text-align: center;
  color: #9ca3af;
}

.cam-placeholder img {
  width: 48px;
  margin-bottom: 0.5rem;
}

.camera-btn {
  margin-top: 1rem;
  background-color: #facc15;
  justify-content: center;
  width: 200px;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.camera-btn:hover {
  background-color: #eab308;
}

.captured-img-preview {
  margin-top: 1.5rem;
}

.captured-img-preview img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Kanan */
.cam-right h2 {
  color: #1864ff;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0.1rem;
  text-align: center;
}

.cam-right label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cam-right select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  color: #365396;
  background-color: #fff;
  border: 1px solid #365396;
  margin-bottom: 1rem;
}

.template-scroll {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .camera-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .camera-wrapper {
    grid-template-columns: 1fr;
  }
}