.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  height: 100vh;           
  text-align: center;
  background-image: url('../img/BgHome.png'); 
  background-size: auto;
  background-position: center;
  font-family: 'Darker Grotesque', sans-serif;
}

.container h1{
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0.5rem 0;
    font-size: 7rem;
    font-weight: bolder;
    color: #1864FF;
    text-align: center;
}

.container p{
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #365396;
    text-align: center;
}

.container button{
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #FBB011;
    color: white;
    padding: 10px 20px;
    border: #C6901F;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

